*{
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: #000;
}

.BGI{
	position: fixed;
	color: #fff;
	font-family: erotique trial;
	font-weight: normal;
	top: 1000px;
	transform-origin: center bottom;
	z-index: 1;
}

/*#Ein{
	z-index: 1;
	font-size: 86px;
	top: -20px;
	left: 198px;
	height: 0px;
}*/

#Drm{
	z-index: 0;
	font-size: 99px;
	height: 188px;
	padding-left: 25px;
	top: 117px;
}

#fullpage{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(5, 20%);

}

#fullpage section{
	height: 100vh;
}

.main{
	display: inline;
	font-family: Erotique Trial;
	font-weight: normal;
	font-size: 53px;
	color: #fff;
}

#fullpage section:nth-child(1){
	grid-column: span 3;
	text-align: left;
	padding-top: 200px;
	padding-left: 50px;
	line-height: 1.1;
}

#fullpage section:nth-child(2){
	grid-column: span 2;
	text-align: center;
	height: 10px;
	padding-top: 80px;
	font-size: 150px;
}

.line{
	border: 1px solid #fff;
	border-radius: 50%;
	width: 1230px;
	transition: .3s ease;
	top: 705px;
	left: -300px;
	transform: rotate(90deg);
}

.date{
	display: inline;
	font-family: Poor Richard;
	font-size: 45px;
	top: 682px;
}

#fullpage section:nth-child(3){
	grid-column: 3/span 3;
	text-align: right;
   	padding-top: 400px;
   	padding-right: 100px;
   	font-size: 53px;
   	line-height: 1.1;
}

#fullpage section:nth-child(4){
	grid-column: 3/span 3;
	text-align: center;
	padding-top: 600px;
	font-size: 100px;
	font-weight: bold;
}

#fullpage section:nth-child(5){
	font-size: 53px;
	grid-column-start: 3;
	padding-top: 200px;
	padding-left: 50px;
	line-height: 1.1;
}

#fullpage section:nth-child(6){
	grid-column-start: 5;
	padding-top: 570px;
	padding-right: 50px;
	text-align: right;
	line-height: 1.1;
}

#fullpage section:nth-child(7){
	grid-column: 3/span 3;
	padding-top: 500px;
	padding-right: 50px;
	text-align: center;
	line-height: 1.1;
}

#fullpage section:nth-child(8){
	grid-column-start: 4;
	text-align: center;
	top: -500px;
	font-weight: bold;
	font-size: 80px;
	line-height: 1.5;
	height: 0px;
}

#fullpage section:nth-child(9){
	grid-column: 3/span 3;
	text-align: center;	
	padding-top: 50px;
	line-height: 1.1;
}

#fullpage section:nth-child(10){
	grid-column: 3;
	padding-left: 10px;
	padding-right: 10px;
	top: -1000px;
	font-size: 40px;
	height: 0px;
	line-height: 1.1;
}

#fullpage section:nth-child(10).active{
	top: -700px;
}

#fullpage section:nth-child(11){
	grid-column-start: 4;
	top: -600px;
	font-size: 40px;
	padding-left: 10px;
	padding-right: 10px;
	height: 0px;
	line-height: 1.1;
}

#fullpage section:nth-child(11).active{
	top: -900px;
}

#fullpage section:nth-child(12){
	grid-column-start: 5;
	top: -743px;
	font-size: 40px;
	padding-left: 10px;
	padding-right: 10px;
	height: 0px;
	line-height: 1.1;
}

#fullpage section:nth-child(13){
	grid-column: 3/span 3;
	padding-top: 250px;
	padding-left: 50px;
	line-height: 1.1;

}

#fullpage section:nth-child(14){
	grid-column: 4/span 2;
	padding-top: 300px;
	padding-right: 35px;
	font-size: 50px;
	line-height: 1.1;
}

#fullpage section:nth-child(15){
	grid-column: 3/span 2;
	padding-top: 200px;
	padding-left: 50px;
	font-size: 50px;
	line-height: 1.1;
}

#fullpage section:nth-child(16){
	grid-column: 3/span 3;
	padding-top: 200px;
	padding-left: 25px;
	padding-right: 50px;
	font-size: 50px;
	line-height: 1.1;
}

#fullpage section:nth-child(17){
	grid-column: 3/span 2;
	padding-top: 530px;
	padding-left: 50px;
}

#fullpage section:nth-child(18){
	grid-column: 3/span 3;
	padding-top: 450px;
	font-size: 50px;
	padding-left: 50px;
	padding-right: 50px;	
	line-height: 1.1;
}

#fullpage section:nth-child(19){
	grid-column: 3/span 3;
	padding-top: 450px;
	font-size: 50px;
	padding-left: 50px;	
	line-height: 1.1;
}

#fullpage section:nth-child(20){
	grid-column: 4/span 2;
	padding-top: 400px;
	font-size: 65px;	
	padding-left: 50px;
	line-height: 1.1;
}

#fullpage section:nth-child(21){
	grid-column: 3/span 2;
	top: 250px;
	font-size: 50px;
	padding-right: 50px;
	padding-left: 50px;
	line-height: 1.1;	
	height: 0;
}

#fullpage section:nth-child(22){
	grid-column: 4/span 2;
	top: 750px;
	font-size: 50px;
	padding-right: 50px;
	padding-left: 50px;
	line-height: 1.1;	
}

#fullpage section:nth-child(23){
	grid-column: 4/span 2;
	padding-top: 1080px;
	font-size: 50px;	
	padding-left: 25px;
	padding-right: 25px;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	color: red;
}

span{
	font-family: poor Richard
}

span:hover{
	color: red;
	cursor: pointer;
}

span.active{
	transform: rotateY(90deg);
}



.door:hover{
	color: red;
}

.door2{
	display: none;
	left: 1500px;
}

.door2.active{
	display: inline;
}

.out, .in{
	font-family: Erotique Trial;
	font-weight: normal;
	font-size: 53px;
	color: #fff;
}

.out{
	top: -230px;
	left: 138px;
	width: 0px;
}

.in{
	top: -280px;
	left: 762px;
	width: 0px;
}

/*
.dark{
	background-color: #000;
}

.eyeclock{
	position: absolute;
	left: 100px;
	top: -190px;
	display: inline;
	max-height: 120px;
}

.eyeclock.active {
	top: 100px;
}

.header{
	position: absolute;
	display: inline;
	margin: auto;
	max-height: 120px;
	padding-left: 210px;
	padding-top: 220px;
	font-family: Hammersmith One;
	font-size: 100px;
	color: white;
	cursor: pointer;
}

p.active{
	color: blue;
	cursor: pointer;
}

.sidebar{
	position: absolute;
	top: 300px;
	right: 100px;
	display: inline;
	grid-column-start: 5;
	font-family: playfair display;
	font-size: 20px;
	color: white;
}

.main{
	position: absolute;
	top: 500px;
	left: 30px;
	display: grid;
	margin: auto;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(15, 10%);
	grid-row-gap: 80px;
	max-width: 1200px;
	color: white;
	padding: 0;
}

#main1{
	display: none;
	grid-column: 2/span 2;
	grid-row-start: 2;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

#main1.active{
	display: inline;
}

#main2{
	display: inline;
	grid-column: 3/span 2;
	grid-row-start: 3;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	text-align: right;
	width: 100%;
	height: 100%;
}

#main3{
	display: inline;
	padding-top: 100px;
	grid-column: 2/span 4;
	grid-row-start: 4;
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 80px;
	width: 100%;
	height: 100%;
}

#main4{
	display: inline;
	grid-column-start: 1/span 5;
	grid-row-start: 5;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main5{
	display: inline;
	grid-column: 2/span 3;
	grid-row-start: 6;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main6{
	display: inline;
	grid-column: 3/span 3;
	grid-row-start: 7;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	text-align: right;
	width: 100%;
	height: 100%;
}

#main7{
	display: inline;
	grid-column-start: 4;
	grid-row: 8/span 2;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
}

#main8{
	display: inline;
	grid-column: 1/span 3;
	grid-row-start: 10;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

#main9{
	display: inline;
	grid-column-start: 2;
	grid-row-start: 11;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main10{
	display: inline;
	grid-column: 3/span 2;
	grid-row-start: 12;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main11{
	display: inline;
	grid-column: 2/span 2;
	grid-row-start: 13;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	padding-top: 100px;
	width: 100%;
	height: 100%;
}

#main12{
	display: inline;
	grid-column: 2/span 2;
	grid-row-start: 14;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 25px;
	padding-top: 300px;
	width: 100%;
	height: 100%;

}

.leftArrow{
	position: fixed;
	top: 316px;
	left: 30px;
	color: white;
	font-size: 22px;
	cursor: pointer;
}

.rightArrow{
	position: fixed;
	top: 316px;
	right: 30px;
	color: white;
	font-size: 22px;
	cursor: pointer;
}

/*#fullpage section:nth-child(3){
	grid-column: span 3;
	padding-top: 700px;
}
*/

/*
#fullpage section:nth-child(3){
	grid-column: 4;
	text-align: right;
	padding-top: 200px;
}*/

/*.sidebar{
	position: fixed;
	grid-column: 1;
    padding-top: 50px;
    padding-left: 20px;
    display: inline;
    font-family: Poor Richard;
    font-weight: normal;
    font-size: 20px;
   	color: #fff;
}*/

/*.eyeclock:hover{
	opacity: 10%;
}

.eyeclock:hover .header{
	color: #000;
}

.header{
	grid-column: span 5;
	padding-top: 220px;
	font-family: Erotique Trial;
	font-size: 100px;
	color: #fff;
	cursor: pointer;
}

.header:hover{
	color: #000;
}

.header:hover .eyeclock{
	opacity: 10%;
}

.eyeclock{
	display: block;
	top: -300px;
	left: 350px;
	animation: eye 8s infinite;
}

@keyframes eye{
	0%{left: 0px;}
	50%{left: 250px;}
	100%{left: 0px;}
}

/*@keyframes BGC{
	0%{opacity: 0.6;}
	50%{opacity: 0.3;}
	100%{opacity: 0.8;}
}*/
