*{
	position: relative;
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
}

.dark{
	background-color: #000;
}

#fullpage{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(5, 20%);
	overflow: hidden;
}

#fullpage section{
	height: 100vh;
}

.header{
	grid-column: 2/span 4;
	padding-top: 220px;
	font-family: Hammersmith One;
	font-size: 100px;
	color: #fff;
	cursor: pointer;
}

.header:hover{
	color: #000;
}

.header:hover .eyeclock{
	opacity: 10%;
}

/*.eyeclock:hover{
	opacity: 10%;
}

.eyeclock:hover .header{
	color: #000;
}*/

.eyeclock{
	display: block;
	top: -300px;
	left: 350px;
	animation: eye 8s infinite;
}

@keyframes eye{
	0%{left: 0px;}
	50%{left: 250px;}
	100%{left: 0px;}
}

.sidebar{
	position: fixed;
	grid-column: 1;
    padding-top: 50px;
    padding-left: 20px;
    display: inline;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 20px;
   	color: #fff;
}

.main{
	display: inline;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
}

#fullpage section:nth-child(3){
	grid-column: 2/span 2;
	padding-top: 200px;
}

#fullpage section:nth-child(4){
	grid-column: 3/span 2;
	text-align: right;
	padding-top: 200px;
}

#fullpage section:nth-child(5){
	grid-column: 2/span 4;
	font-weight: bold;
	font-size: 80px;
	padding-top: 220px;
}

#fullpage section:nth-child(6){
	grid-column-start: 1/span 5;
	padding-top: 100px;
	padding-left: 20px;
}

#fullpage section:nth-child(7){
	grid-column: 2/span 3;
	margin-top: 610px;
	padding-top: 100px;
}

#fullpage section:nth-child(8){
	grid-column: 3/span 3;
	text-align: right;
	padding-top: 220px;
	padding-right: 20px;
}

#fullpage section:nth-child(9){
	grid-column-start: 5;
	text-align: center;	
	padding-right: 20px;
	padding-top: 50px;
}

#fullpage section:nth-child(10){
	grid-column: 4/span 2;
	padding-right: 20px;
	padding-top: 100px;
}

#fullpage section:nth-child(11){
	grid-column-start: 4;
	padding-top: 150px;
}

#fullpage section:nth-child(12){
	grid-column: 3/span 2;
	padding-top: 200px;
}

#fullpage section:nth-child(13){
	grid-column: 2/span 3;
	padding-top: 250px;
}

#fullpage section:nth-child(14){
	grid-column: 2/span 2;
	padding-top: 300px;
}

#fullpage section:nth-child(15){
	grid-column: 3/span 2;
	padding-top: 100px;
}

#fullpage section:nth-child(16){
	grid-column: 2;
	padding-top: 200px;
}

#fullpage section:nth-child(17){
	grid-column: 2/span 2;
	padding-top: 530px;
	font-size: 25px;	
}



/*
.dark{
	background-color: #000;
}

.eyeclock{
	position: absolute;
	left: 100px;
	top: -190px;
	display: inline;
	max-height: 120px;
}

.eyeclock.active {
	top: 100px;
}

.header{
	position: absolute;
	display: inline;
	margin: auto;
	max-height: 120px;
	padding-left: 210px;
	padding-top: 220px;
	font-family: Hammersmith One;
	font-size: 100px;
	color: white;
	cursor: pointer;
}

p.active{
	color: blue;
	cursor: pointer;
}

.sidebar{
	position: absolute;
	top: 300px;
	right: 100px;
	display: inline;
	grid-column-start: 5;
	font-family: playfair display;
	font-size: 20px;
	color: white;
}

.main{
	position: absolute;
	top: 500px;
	left: 30px;
	display: grid;
	margin: auto;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(15, 10%);
	grid-row-gap: 80px;
	max-width: 1200px;
	color: white;
	padding: 0;
}

#main1{
	display: none;
	grid-column: 2/span 2;
	grid-row-start: 2;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

#main1.active{
	display: inline;
}

#main2{
	display: inline;
	grid-column: 3/span 2;
	grid-row-start: 3;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	text-align: right;
	width: 100%;
	height: 100%;
}

#main3{
	display: inline;
	padding-top: 100px;
	grid-column: 2/span 4;
	grid-row-start: 4;
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 80px;
	width: 100%;
	height: 100%;
}

#main4{
	display: inline;
	grid-column-start: 1/span 5;
	grid-row-start: 5;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main5{
	display: inline;
	grid-column: 2/span 3;
	grid-row-start: 6;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main6{
	display: inline;
	grid-column: 3/span 3;
	grid-row-start: 7;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	text-align: right;
	width: 100%;
	height: 100%;
}

#main7{
	display: inline;
	grid-column-start: 4;
	grid-row: 8/span 2;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
}

#main8{
	display: inline;
	grid-column: 1/span 3;
	grid-row-start: 10;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

#main9{
	display: inline;
	grid-column-start: 2;
	grid-row-start: 11;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main10{
	display: inline;
	grid-column: 3/span 2;
	grid-row-start: 12;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	height: 100%;

}

#main11{
	display: inline;
	grid-column: 2/span 2;
	grid-row-start: 13;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	padding-top: 100px;
	width: 100%;
	height: 100%;
}

#main12{
	display: inline;
	grid-column: 2/span 2;
	grid-row-start: 14;
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 25px;
	padding-top: 300px;
	width: 100%;
	height: 100%;

}

.leftArrow{
	position: fixed;
	top: 316px;
	left: 30px;
	color: white;
	font-size: 22px;
	cursor: pointer;
}

.rightArrow{
	position: fixed;
	top: 316px;
	right: 30px;
	color: white;
	font-size: 22px;
	cursor: pointer;
}